<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<body>
	<div class="login-dialogue">
		<p>Get Gramming!</p>
		<button>log in with instagram</button>
	</div>
</body>