<div class="entry-container">
  <%=link_to user_omniauth_authorize_path(:instagram) do %>
    <button class="login-button">LOGIN WITH INSTAGRAM</button>
  <% end %>
  <%= image_tag "hipster-heisenburg.svg", class: "hipster-image" %>
</div>
<div class="content-container">
  <div id="wrapper">
    <div id="columns">
      <% @grams.each do |gram| %>
        <div class="pin">
          <img src="<%=gram[:image] %>" >
          <p>
            <%=gram[:tags] %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
