<!-- <h1>Home#post</h1>
<p>Find me in app/views/home/post.html.erb</p> -->
<div class="menu sb-slide">
  <i class="fa fa-bars"></i>
</div>

 <div id="sb-site">
      <!-- Instagram feed to go within this container (based on index.html.erb) -->
  </div>



<div class="sb-slidebar sb-right">
      <!-- off canvas content and user ajax post functionality within this container  -->

  <form id="instapost">
    <label> Comment: </label>
    <br/>
    <textarea name="comment" rows='5' cols='25'></textarea>
    <br/>
    <input type="submit" name="" value="Add">
  </form>
</div>