<!-- <h1>Home#post</h1>
<p>Find me in app/views/home/post.html.erb</p> -->
<div class="menu sb-slide">
  <i class="fa fa-bars"></i>
</div>

 <div id="sb-site">
      <!-- Your main site content. -->
  </div>



<div class="sb-slidebar sb-right">
      <!-- Your right Slidebar content. -->


</div>