<!-- <h1>Home#search</h1>
<p>Find me in app/views/home/search.html.erb</p> -->

<div class="search-container">
	<div class="top-nav">
		<svg class="stache" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		width="190px" height="56px" viewBox="0 0 190 56" enable-background="new 0 0 190 56" xml:space="preserve">
			<path opacity="0.9" stroke="#000000" stroke-miterlimit="10" d="M155.177,20.618c-0.651-1.773-2.153-2.383-4.005-2.383
			c-3.229,0-3.291,2.84-2.139,4.174c0.75,0.867,2.622,1.012,2.652,2.954c0.024,1.565-3.598,1.456-3.598,1.456
			c-7.364,0-11.949-5.06-15.029-7.718c-3.186-2.748-10.136-10.359-20.416-10.359c-10.279,0-14.826,5.436-14.826,5.436
			s-3.858-5.436-14.139-5.436s-16.884,7.611-20.069,10.359c-3.083,2.658-7.496,7.718-14.859,7.718c0,0-3.534,0.109-3.511-1.456
			c0.029-1.942,1.945-2.087,2.695-2.954c1.153-1.334,1.112-4.174-2.116-4.174c-1.853,0-3.344,0.609-3.995,2.383
			c-0.793,2.161-0.495,12.97,12.269,19.556c4.885,2.52,12.565,2.237,13.708,2.245c1.301,0.006,14.536,0,22.848-8.901
			c2.889-3.095,6.223-10.084,7.168-10.084c0.944,0,4.968,6.989,7.857,10.084c8.311,8.901,22.232,8.907,23.532,8.901
			c1.142-0.008,8.819,0.274,13.704-2.245C155.677,33.588,155.968,22.779,155.177,20.618z"/>
			<text transform="matrix(1 0 0 1 2 30.167)" font-family="'MyriadPro-Regular'" font-size="12">GRAM</text>
			<text transform="matrix(1 0 0 1 163.5 30.5)" font-family="'MyriadPro-Regular'" font-size="12">STER</text>
		</svg>
	</div>
</div>
