.menu {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid black;
  background-color: rgba(1, 1, 1, 0.5);
  display: block;
  position: fixed;
  top: 0; }
  .menu .fa {
    float: right;
    margin: 5px; }

#sb-site {
  margin-top: 30px !important; }

.sb-slidebar {
  background-color: rgba(1, 1, 1, 0.5) !important; }

#instapost {
  bottom: 10px;
  margin-left: 20px;
  position: absolute; }
