body {
  font-family: Arial;
  margin: 0px; }

.entry-container {
  width: 100%;
  height: 1900px;
  position: fixed;
  margin: 0 auto;
  z-index: +1;
  background-color: rgba(0, 0, 0, 0.2); }

/*.login-button {
	position: relative;
	margin: 0 auto;
	z-index: +1;
	display: block;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: 50px;*/
.login-button,
.top-nav {
  margin: 0 auto;
  z-index: +2;
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
  vertical-align: top;
  /*width: 100%;
  height: 60px;*/
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B773D2;
  border: 0;
  border-bottom: 2px solid #C649B9;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #C649B9; }

.hipster-image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 800px;
  padding: 70px; }

.content-container,
.post-page-content-container {
  position: absolute;
  width: 100%;
  /*	border: solid 1px gray;
  */ }

#wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 800px;
  margin: 50px auto; }

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto; }

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, white, #f9f9f9);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px; }

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0; }

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }
/*#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/
.posting-tool-container {
  top: 0px;
  right: 0px;
  width: 400px;
  height: 1900px;
  /*	background: red;
  */
  position: absolute;
  z-index: +1; }

.search-container {
  width: 100%;
  height: 1230px;
  background-color: #43D2AD;
  position: fixed; }

.back-button-container {
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
  height: 50px;
  /*background: red;*/
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: +1; }

.back-button {
  position: relative;
  margin: 0 auto;
  text-decoration: none; }

.stache {
  margin: 0 auto;
  position: relative;
  z-index: +1;
  top: 0px; }

.geography-search {
  margin: 0 auto;
  /*	background-color: red;
  */
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  padding-top: 200px;
  padding-left: 50px;
  z-index: +1; }

.ui-widget {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px; }

label {
  color: white; }

.hash-search {
  margin-top: 100px; }

.globe-map-vector {
  width: 100%;
  height: 1430px;
  position: relative;
  z-index: +1;
  background-color: #43D2AD;
  /*margin-top: 100px;
  padding-top: 100px;*/ }
